.titulo {
    font-size: 50px;
    color: blue;
    margin: 0;
    text-align: center;
    font-style: italic;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */


}

#tabela1 th {
    color: black;
    border: 1px solid black;
    text-align: center;
    background: lightblue;
    font-size: 20px;
}

#tabela td {
    border-right: 1px solid black;
    text-align: center;
    font-size: 20px;
    color: black;
}


.tr_par {
    background: lightslategray;

}

.tr_inpar {
    background: lightgray;
}

#dia , #mes, #ano, #tipo, #tipo_consulta, #valor, #descricao {
    border: 2px solid black;
}

#tabela tr:hover {
    background: orange;
    border: 1px solid white;
}

#mensagem {
    text-align: center;
    margin: 20px;
}

#sucesso {
    border: 1px solid black;
    border-radius: 20px;
}

#erro {
    border: 1px solid black;
    border-radius: 20px;
}




